body {
    background: rgba(213,225,239,255);
}

#main {
    font-family: 'Outfit', sans-serif;
    border-radius: 15px;
    background: hsl(0, 0%, 100%);
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    text-align: center;
}

#main-img {
    border-radius: 12px;
    width: 300px;
    margin-top: 15px;
}

h3 {
    font-weight: 700;
    font-size: 21px;
}

p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(212, 8%, 59%);
    font-weight: 400;
    padding-bottom: 25px;
}